@model ICI.ProvaCandidato.Web.Models.NoticiasViewModel
@{
    ViewData["Title"] = "Notícias";
}

<h2>Notícias<a href="/noticias/form" class="btn btn-primary float-right">Adicionar</a></h2>

<table id="noticiasTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Título</th>
            <th>Texto</th>
            <th>Usuário</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts 
{
    <script>
        
        var tagsArray = '';

        $(document).ready(function() {

            $.ajax({
                url: "/api/tags/",
                method: "GET",
                success: function (res) {
                    debugger;
                    tagsArray = res;
                }
            })

            $('#noticiasTable').DataTable({
                ajax: {
                    url: '/api/noticias', // URL para buscar os dados
                    dataSrc: '', // A fonte dos dados é o array no topo do JSON
                },
                columns: [
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `
                                <ol class="action-toolbar">
                                    <li>
                                        <a href="/noticias/edit/${row.id}" title="Editar" class="btn">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Excluir" class="js-delete" data-noticia-id="${row.id}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </li>
                                </ol>
                            `;
                        }
                    },
                    { data: 'titulo' },
                    { data: 'texto' },
                    { data: 'usuario.nome' },
                    {
                        data: 'tagsNoticia',
                        render: function (data, type, row) {
                            debugger;
                            var result = `<a href="#" title="Tags" class='tagSelect openModalBtn' data-noticia-id='${row.id}'> + </a>&nbsp;`;

                            if (type === 'display' && data && data.length > 0) {
                                var tags = data.map(function (tag) {
                                    return tag.descricao;
                                });
                                return result + tags.join(', ');
                            }
                            return result;
                        }
                    }
                ],
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ],
                order: [[1, 'desc']],
            });

            $("#noticiasTable").on("click", ".js-delete", function () {
                var button = this;
                debugger;

                bootbox.confirm("Tem certeza de que deseja excluir este item?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/noticias/delete/" + $(button).attr("data-noticia-id"),
                            method: "DELETE",
                            success: function () {
                                debugger;
                                $(button).parents("tr").remove();
                            }
                        })
                    }
                });

            });

            $("#noticiasTable").on("click", ".openModalBtn", function () {
                var button = this;
                // HTML para o dropdownlist
                var dropdownHTML = '<select id="dropdown" class="form-control">';
                tagsArray.forEach(function (option) {
                    dropdownHTML += '<option value="' + option.id + '">' + option.descricao + '</option>';
                });
                dropdownHTML += '</select>';

                // Criação do modal Bootbox com o dropdownlist
                bootbox.dialog({
                    title: "Selecione uma opção",
                    message: dropdownHTML,
                    buttons: {
                        confirm: {
                            label: "OK",
                            className: "btn-primary",
                            callback: function () {
                                var noticiaId = $(button).attr('data-noticia-id');
                                var selectedTagId = $("#dropdown").val();
                                var selectedTagText = $("#dropdown").text();
                                
                                $.ajax({
                                    type: 'POST',
                                    url: '/Noticias/AdicionarTag',
                                    data: {
                                        noticiaId: noticiaId,
                                        tagId: selectedTagId
                                    },
                                    success: function (result) {
                                        debugger;
                                        var newRow = $('<tr><td>' + selectedTagText + '</td></tr>');
                                        var tagsTable = $('#tagsTable_' + noticiaId);
                                        tagsTable.append(newRow);
                                    },
                                    error: function (error) {
                                        console.error('Erro ao adicionar a tag à notícia.');
                                    }
                                });
                            }
                        },
                        cancel: {
                            label: "Cancelar",
                            className: "btn-secondary"
                        }
                    }
                });
            });

            $('.tagsSelect').on('change', function () {
                debugger;
                var selectedTagId = $(this).val();
                var noticiaId = $(this).data('noticia-id');
                var tagsTable = $('#tagsTable_' + noticiaId);

                if (selectedTagId) {
                    var select = this; 

                    $.ajax({
                        type: 'POST',
                        url: '/Noticias/AdicionarTag',
                        data: {
                            noticiaId: noticiaId,
                            tagId: selectedTagId
                        },
                        success: function (result) {
                            var selectedTagText = $(select).find('option:selected').text(); 

                            var newRow = $('<tr><td>' + selectedTagText + '</td></tr>');
                            tagsTable.append(newRow);

                            $(select).val("--Selecione uma Tag--");
                        },
                        error: function (error) {
                            console.error('Erro ao adicionar a tag à notícia.');
                        }
                    });
                }
            });
        })
    </script>
}
